<%- include("partials/header") -%>

<h1 style="margin: 0 15px 0 15px">Contact</h1>
<p style="margin: 0 15px 0 15px"><%= contactContent %></p>
<div style="margin: 0 15px 20px 15px">
  <h3>Get in Touch:</h3>
  <p><strong>Name:</strong> Suraj Kunwar</p>
  <p>
    <strong>Email:</strong>
    <a href="mailto:fastx7.aep@gmail.com">fastx7.aep@gmail.com</a>
  </p>
</div>
<%- include("partials/footer") -%>
